<div class="jumbotron mt-4">
    <h1 class="display-4">Sistema de Gestion de Horarios</h1>
    <p class="lead">Bienvenido al Sistema de Gestion de Horarios de la Universidad</p>
    <hr class="my-4">
    <p>Para Conocer mas aun de la UATF visita el siguiente enlace</p>
    <a href="https://www.uatf.edu.bo/" class="btn btn-primary">UATF</a>
</div>
