<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>NUEVO DOCENTE</h3>
        </div>
        <div class="card-body">
            <form action="/docentes/new-docente" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="nombre" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="apellidos">
                </div>
                <div class="form-group">
                    <input type="text" name="ci" class="form-control" placeholder="ci">
                </div>
                <div class="form-group">
                    <input type="text" name="cargahorariasemanal" class="form-control" placeholder="cargahorariasemanal">
                </div>
                <div class="form-group">
                    <input type="text" name="id" class="form-control" placeholder="id">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
       </div>
    </div>
</div>
